<section class="masInfo empresa">
  <div class="fondo"></div> <!-- component -->
  <main class="masInfo-conte">
    <a href="">volver</a>
    <header></header>
    <section>
      <h1>Nuestra empresa</h1>
      <p>Sopraval se fundó el año 1967 en La Calera, V región y desde entonces nos hemos dedicado a la producción y comercialización de pavos en Chile.</p>
      <p>Somos una más de las marcas de Agrosuper, y como tal, nuestro foco principal es satisfacer las necesidades de los consumidores a través de productos sanos, ricos y convenientes para toda la familia en Chile y el mundo.</p>
      <p>Con modernas instalaciones, tecnología y calidad de estándares internacionales, llegamos a importantes mercados como Estados Unidos, Unión Europea, Canadá, México, Japón, China y Sudáfrica. </p>
    </section>
  </main>
</section>