<fondo></fondo>
<section class="masInfo manipulacion">
  <main class="masInfo-conte">
    <a ng-href="#/" class="icon-close"></a>
    <section>
      <h1>Uso y Manipulación Segura</h1>
      <p>Nuestros productos son elaborados con carnes inspeccionadas y aprobadas de acuerdo a todos los estándares sanitarios. No obstante, es necesario siempre manipular los alimentos para evitar su contaminación cruzada y cocinarlas en forma adecuada a fin de garantizar la seguridad en su consumo. Para su protección, siga estas instrucciones:</p>
      <ul>
        <li>
          <img src="./img/manipulacion1.png" alt="manipulación1">
          <p>Mantenga las carnes crudas separadas de otros alimentos</p>
        </li>
        <li>
            <img src="./img/manipulacion2.png" alt="manipulación2">
          <p>Lave y desinfecte las superficies de trabajo (utensilios y manos)</p>
        </li>
        <li>
          <img src="./img/manipulacion3.png" alt="manipulación3">
          <p>Cocine los alimentos hasta que queden bien cocidos</p>
        </li>
        <li>
          <img src="./img/manipulacion4.png" alt="manipulación4">
          <p>Mantenga los alimentos en temperaturas indicadas según en el etiquetado</p>
        </li>
      </ul>
    </section>
  </main>
</section>