//*************************************
// pages/common/app
//*************************************

.view{
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  transition: all .8s ease-in-out;
}

.view-height{
  
}

%pages{
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

@include respond-to(l){
  min-height: 100vh;
}