//*************************************
// pages/common/loading
//*************************************
.loading{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: white;
  z-index: 999999999999999; 
  @extend .wrapper;
  flex-direction: column;
  transition: all .8s 1s ease-in-out;
  &-out{
    visibility: collapse;
    opacity: 0;
  }
}