<fondo></fondo>
<section class="masInfo contacto">
  <main class="masInfo-conte">
      <a href="javascript:history.back()" class="icon-close"></a>
    <header>
      <p>CONTÁCTANOS</p>
      <span>Tu opinión siempre nos ayuda a mejorar</span>
    </header>
    <section>
      <aside>
        <p>Atención al Consumidor:<span>800 20 6000</span></p>
        <p>Atención al Cliente:<span>600 600 7777</span></p>
        <p> 
            Horarios de Atención<br>
            Lunes a viernes 8:30 a 18:00 hrs.<br>
            Sábado 9:00 a 14:00 hrs.
        </p>
      </aside>
      <form ng-submit="$ctrl.submitForm()" class="contacto-form">
        <input type="text" placeholder="Nombre" ng-model="$ctrl.user.nombre" />
        <input type="text" placeholder="Apellido" ng-model="$ctrl.user.apellido" />
        <input type="text" placeholder="Teléfono" ng-model="$ctrl.user.telefono" />
        <input type="text" placeholder="Email" ng-model="$ctrl.user.correo" />
        <textarea name="" placeholder="Comentario" ng-model="$ctrl.user.comentario"></textarea>
        <button type="submit">ENVIAR</button>
        <span>{{$ctrl.mensaje}} <i ng-class="$ctrl.estado"></i></span>
      </form>
    </section>
  </main>
</section>