<fondo></fondo>
<section class="masInfo contacto">
  <main class="masInfo-conte">
      <a href="javascript:history.back()" class="icon-close"></a>
    <header>
      <p>CONTÁCTANOS</p>
      <span>Tu opinión siempre nos ayuda a mejorar</span>
    </header>
    <section>
      <aside>
        <p>Atención al Consumidor:<span>800 20 6000</span></p>
        <p>Atención al Cliente:<span>600 600 7777</span></p>
        <p> 
            Horarios de Atención<br>
            Lunes a viernes 8:30 a 18:00 hrs.<br>
            Sábado 9:00 a 14:00 hrs.
        </p>
      </aside>
      <form action="">
        <input type="text" placeholder="Nombre" />
        <input type="text" placeholder="Apellido" />
        <input type="text" placeholder="Teléfono" />
        <input type="text" placeholder="Email" />
        <textarea name="" placeholder="Comentario"></textarea>
        <button type="submit">ENVIAR</button>
      </form>
    </section>
  </main>
</section>