.menu-common{
  @extend .wrapper;
  flex-direction: column;
  left: 2rem;
  position: absolute;
  top: 2rem;
  z-index: $index-2;
  img{
    width: 12rem;
  }
  .logo{
    z-index: $index-2;
  }
  span{
    align-items: center;
    cursor: pointer;
    display: flex;
    font-family: $altfont-secundary;
    margin-top: 1rem;
    z-index: $index-1;
    &:before{
      content: '\f0c9';
      font-family: 'icomoon';
      font-size: 2rem;
      margin-right: 1rem;
    }
    &.activo{
      &:before{
        content: '\f00d',
      }
    }
  }
  div{
    position: absolute;
    background-image: url('../img/fondos/f-home.jpg');
    background-position: center;
    background-size: cover;
    left: -2rem;
    height: 100vh;
    opacity: 0;
    top: -2rem;
    transition: opacity ease-in-out .3s;
    width: 100vw;
    @extend .wrapper;
    &:after{
      content: '';
      background-color: rgba($color-base, .7);
      height: 100vh;
      left: 0;
      position: absolute;
      padding: 0 2rem;
      top: 0;
      width: 100vw;
    }
    a{
      font-family: $altfont;
      font-size: 3.5rem;
      position: relative;
      text-shadow: -3px 2px #222;
      visibility: collapse;
      z-index: 2;
      &:not(:last-child){
        margin-right: 7rem;
      }
      &:after{
        bottom: 0.5rem;
        content: '';
        height: 3px;
        left: 0;
        position: absolute;
        width: 100%;
      }
      &:hover{
        &:after{
          background: white;
        }
      }
    }
    &.activo{
      opacity: 1;
      a{
        visibility: visible;
      }
    }
  }
}

.slider-datos{
  background: white;
  border-left: solid 1px $color-base;
  position: absolute;
  right: -15rem;
  top: 0;
  width: 15rem;
  &.in{
    transition: all 1.5s ease-in-out;
    right: 0;
  }
  &>div{
    padding: 0 1rem;
  }
  span{
    border-bottom: solid 1px $color-base;
    color: #666;
    font-family: $altfont-secundary;
    font-size: 1.3rem;
    height: 3rem;
    margin-top: 2rem;
    text-transform: capitalize;
    @extend .wrapper;
  }
  &>a{
    background-color: $color-base;
    border-radius: 50%;
    font-size: 1rem;
    height: 2.5rem;
    left: -3rem;
    position: absolute;
    top: 1rem;
    width: 2.5rem;
    @extend .wrapper;
    line-height: 0;
    &:after{
      content: '\f00d';
      font-family: 'icomoon'
    }
  }
  &>ul{
    height: calc(100vh - 5rem);
    margin: 0;
    overflow-y: scroll;
    padding: 0 1rem 1rem;
    text-align: center;
  }
  img{
    max-width: 9.4rem;
  }
  h2{
    color: #666;
    font-family: $basefont;
    font-size: 1rem;
    &.active{
      color: $color-base;
    }
  }
  li{
    margin-top: 3rem;
  }
}

.separacion{
  background-image: url('../img/curva-productos-recetas.jpg');
  background-position: center;
  background-size: contain;
  height: 5rem;
}

.view{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  transition: all .8s ease-in-out;
}