//*************************************
// pages/empresa
//*************************************
.empresa{
  section{
    padding: 0 3rem 2rem;
    padding: 0 1rem 2rem;
  }
  header{
    background-image: url('../img/nuestra-empresa.jpg');
    background-position: center;
    background-size: cover;
    height: 16rem;
  }
}