<main class="menu">
  <section class="menu-logo">
    <a ng-click="$ctrl.back()">
      <img ng-src="./img/logo-sopraval.png" alt="logo sopraval">
    </a>
    <span 
    ng-click="$ctrl.menuFullscreen()" 
    ng-class="{'activo' : $ctrl.toggleFullscreen}"
    ng-if="$ctrl.visible"
    >MENÚ</span>
  </section>
  <section class="menu-modal" ng-class="{'activo' : $ctrl.toggleFullscreenActive}">
    <a ng-href="#/productos">Productos</a>
    <a ng-href="#/recetas">Recetas</a>
    <a ng-href="#/contacto">Contacto</a>
  </section>
</main>
