@charset "UTF-8";
/* ·SETTINGS
  ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Breakpoint - Grill
 *  2. Directorios
 *  3. Layout
 *  4. Fonts
 *  5. Tamaños
 *  6. Colors
 *  7. Typografy
 *  8. Nav
 *  9. Forms
 *  10. Botons
 *  11. Video
 *  12. Table
 *  13. Cards
 *  14. Modal
 *  15. Tabs
 *  16. Sliders
 */
/* 1. Breakpoint - Grill
   ========================================================================== */
/* 2. Directorios
   ========================================================================== */
/* 3. Layout
   ========================================================================== */
/* 4. Fonts
   ========================================================================== */
/* 5. Tamaños
   ========================================================================== */
/* 6. Colors
   ========================================================================== */
/* 7. Typografy
   ========================================================================== */
/* 8. Nav
   ========================================================================== */
/* 9. Forms
   ========================================================================== */
/* 10. Botons
   ========================================================================== */
/* 11. Video
   ========================================================================== */
/* 12. Table
   ========================================================================== */
/* 13. Cards
   ========================================================================== */
/* 14. Modal
   ========================================================================== */
/* 15. Tabs
   ========================================================================== */
/* 16. Sliders
   ========================================================================== */
/* ------------------------------------ normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*:focus {
  outline: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

a {
  cursor: pointer; }

img {
  max-width: 100%;
  width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

textarea {
  overflow-x: hidden; }

pre, code {
  font-family: "Inconsolata", Monaco, Consolas, "Andale Mono", monospace; }

/* ------------------------------------
      ·HELPERS
  -------------------------------------*/
.wrapper, .loading, .menu-logo, .menu-modal, .lista span, .lista-volver, .producto-titulo > a, .fondo header a, .fondo footer p, .masInfo, .masInfo-conte > a, .home, .home-nav-secondary p, .home-nav-secondary ul, .sociales a, .categoria-fondo, .producto-conte, .contacto-form span, .contacto-form .icon-check {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.full {
  height: 100vh;
  width: 100vw; }

.contenedor {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1rem;
  width: 100%;
  position: relative; }

.contenedor-full {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding: 0 1rem;
  width: 100%;
  position: relative; }

.overflow {
  overflow: hidden; }

.center-txt {
  text-align: center; }

.left-txt {
  text-align: left; }

.right-txt {
  text-align: right; }

.destacado {
  color: #00A9E4; }

.code {
  padding: 1rem;
  border-left: 2px solid #00A9E4; }

.s {
  width: 2rem; }

button.clipboard {
  font-size: .8rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0; }

/* ------------------------------------
      ·TYPOGRAPHY
  -------------------------------------*/
html,
body {
  background-color: black;
  color: white;
  font-family: "Quicksand", sans-serif;
  line-height: 1.4;
  font-size: 16px;
  font-weight: normal;
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: "Shadows Into Light", cursive;
  font-weight: normal;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 0.5rem;
  text-rendering: optimizelegibility; }

h1, .h1 {
  font-size: 1.5rem; }

h2, .h2 {
  font-size: 1.25rem; }

h3, .h3 {
  font-size: 1.1875rem; }

h4, .h4 {
  font-size: 1.125rem; }

h5, .h5 {
  font-size: 1.0625rem; }

h6, .h6 {
  font-size: 1rem; }

@media only screen and (min-width: 520px) {
  h1, .h1 {
    font-size: 3rem; }
  h2, .h2 {
    font-size: 2.5rem; }
  h3, .h3 {
    font-size: 1.9375rem; }
  h4, .h4 {
    font-size: 1.5625rem; }
  h5, .h5 {
    font-size: 1.25rem; }
  h6, .h6 {
    font-size: 1rem; } }

p,
ul {
  line-height: 1.4;
  padding: 0;
  margin-bottom: 0.5rem; }

li {
  list-style: none; }

.lista li {
  margin-left: 1rem;
  list-style: disc; }

hr {
  border: 0;
  border-top: 1px solid #494949;
  clear: both;
  display: block;
  height: 1px;
  margin: 1.4 0;
  padding: 0; }

b, strong {
  font-weight: bold; }

a {
  color: white;
  text-decoration: none; }

/* ------------------------------------
        ·ICONS
    -------------------------------------*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?mhj81j");
  src: url("../fonts/icomoon.eot?mhj81j#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?mhj81j") format("truetype"), url("../fonts/icomoon.woff?mhj81j") format("woff"), url("../fonts/icomoon.svg?mhj81j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:after, [class^="icon-"]:before, [class*=" icon-"]:after, [class*=" icon-"]:before {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\f002"; }

.icon-check:before {
  content: "\f00c"; }

.icon-close:before {
  content: "\f00d"; }

.icon-pencil:before {
  content: "\f040"; }

.icon-plus:before {
  content: "\f067"; }

.icon-minus:before {
  content: "\f068"; }

.icon-phone:before {
  content: "\f095"; }

.icon-link:before {
  content: "\f0c1"; }

.icon-navicon:before {
  content: "\f0c9"; }

.icon-mail:before {
  content: "\f0e0"; }

.icon-download:before {
  content: "\f0ed"; }

.icon-angle-left:before {
  content: "\f104"; }

.icon-angle-right:before {
  content: "\f105"; }

.icon-angle-up:before {
  content: "\f106"; }

.icon-angle-down:before {
  content: "\f107"; }

.icon-ellipsis:before {
  content: "\f142"; }

.icon-send:before {
  content: "\f1d8"; }

.icon-whatsapp:before {
  content: "\f232"; }

.icon-snapchat:before {
  content: "\f2ab"; }

.icon-facebook:before {
  content: "\f230"; }

.icon-spotify:before {
  content: "\f1bc"; }

.icon-skype:before {
  content: "\f17e"; }

.icon-instagram:before {
  content: "\f16d"; }

.icon-dropbox:before {
  content: "\f16b"; }

.icon-youtube:before {
  content: "\f16a"; }

.icon-linkedin:before {
  content: "\f0e1"; }

.icon-google-plus:before {
  content: "\f0d5"; }

.icon-pinterest:before {
  content: "\f0d2"; }

.icon-github:before {
  content: "\f09b"; }

.icon-twitter:before {
  content: "\f099"; }

.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: white;
  z-index: 999999999999999;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .8s 1s ease-in-out;
  -o-transition: all .8s 1s ease-in-out;
  transition: all .8s 1s ease-in-out; }
  .loading-out {
    visibility: collapse;
    opacity: 0; }

.animation-fade.ng-enter {
  opacity: 0;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.animation-fade.ng-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.animation-fade.ng-leave {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.animation-fade.ng-leave-active {
  opacity: 0;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.animation-slideIn.ng-enter {
  opacity: 1;
  -webkit-transform: translateX(100vw);
      -ms-transform: translateX(100vw);
          transform: translateX(100vw); }

.animation-slideIn.ng-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.animation-slideIn.ng-leave {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.animation-slideIn.ng-leave-active {
  opacity: 1;
  -webkit-transform: translateX(-100vw);
      -ms-transform: translateX(-100vw);
          transform: translateX(-100vw); }

.animation-slideOut.ng-enter {
  -webkit-transform: translateX(-100vw);
      -ms-transform: translateX(-100vw);
          transform: translateX(-100vw); }

.animation-slideOut.ng-enter-active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.animation-slideOut.ng-leave {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.animation-slideOut.ng-leave-active {
  -webkit-transform: translateX(100vw);
      -ms-transform: translateX(100vw);
          transform: translateX(100vw); }

.view {
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  -webkit-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out; }

.home, .productos, .categoria, .producto {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw; }

@media only screen and (min-width: 768px) {
  min-height: 100vh; }

menu {
  margin: 0; }

.menu {
  left: 1rem;
  position: absolute;
  top: 1rem; }
  .menu img {
    width: 8rem; }
  .menu-logo {
    position: relative;
    width: -webkit-calc(100vw - 2rem);
    width: calc(100vw - 2rem);
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 99999999; }
  .menu span {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: "Fjalla One", sans-serif;
    z-index: 2; }
    .menu span:before {
      content: '\f0c9';
      /* '\f0c9'; */
      font-family: 'icomoon';
      font-size: 2rem;
      margin-right: 1rem; }
    .menu span.activo:before {
      content: '\f00d';
      /* '\f00d'; */ }
  .menu-modal {
    position: absolute;
    background-image: url("../img/fondos/f-home.jpg");
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
    left: -1rem;
    height: 100vh;
    opacity: 0;
    top: -1rem;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
    width: 100vw;
    z-index: 999999;
    visibility: collapse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .menu-modal:after {
      content: '';
      background-color: rgba(0, 169, 228, 0.7);
      height: 100vh;
      left: 0;
      position: absolute;
      padding: 0 2rem;
      top: 0;
      width: 100%; }
    .menu-modal a {
      font-family: "Shadows Into Light", cursive;
      font-size: 2.5rem;
      position: relative;
      text-shadow: -3px 2px #222;
      visibility: collapse;
      z-index: 2; }
      .menu-modal a:not(:last-child) {
        margin-bottom: 2rem; }
      .menu-modal a:after {
        bottom: 0.5rem;
        content: '';
        height: 3px;
        left: 0;
        position: absolute;
        width: 100%; }
      .menu-modal a:hover:after {
        background: white; }
    .menu-modal.activo {
      visibility: visible;
      opacity: 1; }
      .menu-modal.activo a {
        visibility: visible; }

@media only screen and (min-width: 768px) {
  .menu {
    left: 2rem;
    top: 2rem; }
    .menu img {
      width: 12rem; }
    .menu-logo {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .menu span {
      margin-top: 1rem; }
    .menu-modal {
      left: -2rem;
      top: -2rem;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      .menu-modal:after {
        width: 100vw; }
      .menu-modal a {
        font-size: 3.5rem; }
        .menu-modal a:not(:last-child) {
          margin-bottom: 0;
          margin-right: 7.3rem; } }

.lista {
  background: white;
  border-top: solid 1px #00A9E4;
  position: absolute;
  right: 0;
  top: -webkit-calc(100% - 6rem);
  top: calc(100% - 6rem);
  width: 100%;
  display: none; }
  .lista.in {
    display: inline; }
  .lista > div {
    padding: 0 1rem; }
  .lista span {
    color: #666;
    font-family: "Fjalla One", sans-serif;
    font-size: 1.3rem;
    height: 3rem;
    margin-top: 1rem;
    text-transform: capitalize;
    position: relative; }
    .lista span:after {
      bottom: -1rem;
      content: '\f107';
      /* '\f107'; */
      font-family: 'icomoon';
      left: 49%;
      position: absolute; }
  .lista-volver, .producto-titulo > a {
    background-color: #00A9E4;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    font-size: 1rem;
    height: 2.5rem;
    right: 1rem;
    position: absolute;
    top: 1rem;
    width: 2.5rem;
    z-index: 2; }
    .lista-volver:after, .producto-titulo > a:after {
      content: '\f00d';
      /* '\f00d'; */
      font-family: 'icomoon'; }
  .lista > ul {
    margin: 0;
    padding: 2rem 0 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .lista img {
    max-width: 9.4rem; }
  .lista h2 {
    color: #666;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem; }
    .lista h2.activo {
      color: #00A9E4; }
  .lista li {
    margin: 0;
    width: 13rem;
    text-align: center;
    padding: 1rem; }
    .lista li:hover h2 {
      color: #00A9E4; }
  .lista-recetas img {
    max-width: 100% !important; }

@-webkit-keyframes lista-in {
  0% {
    right: -15rem; }
  100% {
    right: 0; } }

@keyframes lista-in {
  0% {
    right: -15rem; }
  100% {
    right: 0; } }

@media only screen and (min-width: 768px) {
  .lista {
    height: 100vh;
    top: 0;
    width: 15rem;
    right: -15rem;
    border-top: none;
    border-left: solid 1px #00A9E4; }
    .lista.in {
      -webkit-animation: fondo-entrada .8s forwards;
              animation: fondo-entrada .8s forwards;
      -webkit-animation-timing-function: ease;
              animation-timing-function: ease; }
      .lista.in > a {
        visibility: visible;
        opacity: 1; }
    .lista > ul {
      height: -webkit-calc(100vh - 5rem);
      height: calc(100vh - 5rem);
      margin: 0;
      overflow-y: scroll;
      text-align: center;
      display: block;
      padding: 0 1rem 1rem; }
    .lista li {
      margin: 2rem 0 0 0;
      width: 100%;
      padding: 0; }
    .lista span {
      margin-top: 2rem;
      border-bottom: solid 1px #00A9E4; }
      .lista span:after {
        content: ''; }
    .lista-volver, .producto-titulo > a {
      font-size: 1rem;
      height: 2.5rem;
      right: inherit;
      left: -3rem;
      top: 1rem;
      width: 2.5rem;
      opacity: 0; } }

.fondo {
  background-image: url("../img/fondos/f-home.jpg");
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  overflow: hidden;
  position: absolute;
  height: 100vh;
  width: 100vw; }
  .fondo-transparencia {
    background-color: rgba(0, 169, 228, 0.7);
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 2; }
  .fondo header {
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .fondo header a {
      background-color: white;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      font-size: 1.2rem;
      height: 2rem;
      line-height: 1;
      width: 2rem;
      color: #777777; }
      .fondo header a:not(:last-child) {
        margin-right: 1rem; }
  .fondo footer {
    position: absolute;
    background-color: #00A9E4;
    bottom: 0;
    font-family: "Fjalla One", sans-serif;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100vw; }
    .fondo footer p {
      font-size: .8rem;
      height: 3rem;
      position: relative;
      width: 100%; }
      .fondo footer p:after {
        bottom: .1rem;
        content: '\f107';
        /* '\f107'; */
        font-family: 'icomoon';
        left: 50%;
        position: absolute; }
  .fondo header,
  .fondo footer {
    opacity: 0; }

@media only screen and (min-width: 768px) {
  .fondo header,
  .fondo footer {
    opacity: 1; } }

.masInfo {
  height: 100vh;
  position: relative;
  width: 100vw;
  z-index: 2;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 6.5rem 0 0; }
  .masInfo-conte {
    background: white;
    color: #666;
    max-width: 50rem;
    position: relative; }
    .masInfo-conte > a {
      background-color: #00A9E4;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      font-size: 1rem;
      height: 2.5rem;
      position: absolute;
      right: 1rem;
      top: -1.3rem;
      width: 2.5rem; }
    .masInfo-conte h1 {
      color: #666;
      font-family: "Fjalla One", sans-serif;
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
      text-align: center; }
    .masInfo-conte p {
      font-size: .8rem; }
      .masInfo-conte p:last-child {
        margin: 0; }

@media only screen and (min-width: 768px) {
  .masInfo {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0; }
    .masInfo-conte > a {
      font-size: 1rem;
      height: 2.5rem;
      right: 1rem;
      top: 1rem;
      width: 2.5rem; } }

.home {
  background-image: url("../img/fondos/home-small.jpg");
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  overflow: hidden;
  position: relative; }
  .home-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2; }
    .home-nav a {
      font-family: "Shadows Into Light", cursive;
      font-size: 2.5rem;
      text-shadow: -3px 2px #222;
      position: relative; }
      .home-nav a:not(:last-child) {
        margin-bottom: 2rem; }
      .home-nav a:after {
        content: '';
        position: absolute;
        bottom: .25rem;
        left: 0;
        height: 3px;
        width: 100%; }
      .home-nav a:hover:after {
        background: white; }
    .home-nav-secondary {
      height: -webkit-calc(100vh - 2rem - 74.66px);
      height: calc(100vh - 2rem - 74.66px);
      position: absolute;
      background-color: #00A9E4;
      bottom: -webkit-calc(-100% + 10rem);
      bottom: calc(-100% + 10rem);
      font-family: "Fjalla One", sans-serif;
      left: 0;
      position: absolute;
      text-align: center;
      -webkit-transition: bottom ease-out 0.3s;
      -o-transition: bottom ease-out 0.3s;
      transition: bottom ease-out 0.3s;
      width: 100vw;
      z-index: 2; }
      .home-nav-secondary.active {
        bottom: 0; }
      .home-nav-secondary p {
        cursor: pointer;
        font-size: .8rem;
        height: 3rem;
        position: relative;
        width: 100%; }
        .home-nav-secondary p:after {
          bottom: .1rem;
          content: '\f107';
          /* '\f107'; */
          font-family: 'icomoon';
          left: 50%;
          position: absolute; }
      .home-nav-secondary ul {
        padding: 0 0 1.5rem 0;
        margin: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        height: -webkit-calc(100% - 4rem);
        height: calc(100% - 4rem); }
      .home-nav-secondary li {
        margin: 0; }
        .home-nav-secondary li:not(:last-child) {
          margin-bottom: 3rem; }
      .home-nav-secondary footer {
        background-color: #017EB4;
        font-size: .8rem;
        padding: .5rem;
        width: 100%;
        position: absolute;
        bottom: 0; }

.sociales {
  position: absolute;
  top: .75rem;
  right: .75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .sociales a {
    background-color: white;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    font-size: 1.2rem;
    height: 2rem;
    line-height: 1;
    width: 2rem;
    color: #777777; }
    .sociales a:not(:last-child) {
      margin-right: 1rem; }

@media only screen and (min-width: 768px) {
  .home {
    background-image: url("../img/fondos/f-home.jpg"); }
    .home-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      .home-nav a {
        font-size: 3.5rem; }
        .home-nav a:not(:last-child) {
          margin: 0 7rem 0 0; }
        .home-nav a:after {
          bottom: .75rem; }
      .home-nav-secondary {
        height: auto;
        bottom: -6.5rem; }
        .home-nav-secondary ul {
          padding: 1.5rem;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          height: auto; }
        .home-nav-secondary li:not(:last-child) {
          margin: 0 2rem 0 0; }
        .home-nav-secondary footer {
          position: relative; }
  .sociales {
    position: fixed;
    top: 2rem;
    right: 2rem; } }

.productos {
  background-image: url("../img/fondos/f-productos.jpg");
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed;
  -webkit-transition: background-image ease-out 0.3s;
  -o-transition: background-image ease-out 0.3s;
  transition: background-image ease-out 0.3s; }
  .productos nav {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .productos ul {
    font-family: "Shadows Into Light", cursive;
    margin: 3rem 0 0;
    text-align: center; }
  .productos li:not(:last-child) {
    margin-bottom: 1.5rem; }
  .productos a {
    font-size: 1.8rem;
    text-shadow: -3px 2px #222; }
    .productos a:hover {
      color: #00A9E4; }

@-webkit-keyframes nav-entrada {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes nav-entrada {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media only screen and (min-width: 768px) {
  .productos nav {
    height: 100vh;
    padding: 12.5rem 2rem 0;
    width: 16rem;
    opacity: 0;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-animation: nav-entrada .8s .6s forwards;
            animation: nav-entrada .8s .6s forwards; }
  .background-tradicional {
    background-image: url("../img/fondos/f-tradicional.jpg"); }
  .background-jamones-pechugas {
    background-image: url("../img/fondos/f-jamones-pechugas.jpg"); }
  .background-parrilleros {
    background-image: url("../img/fondos/f-parrilleros.jpg"); }
  .background-practicos {
    background-image: url("../img/fondos/f-practicos.jpg"); } }

.categoria-fondo {
  text-transform: capitalize;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-right: 0; }
  .categoria-fondo h1 {
    opacity: 0;
    -webkit-animation: titulo-entrada .8s forwards;
            animation: titulo-entrada .8s forwards;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    font-family: "Shadows Into Light", cursive;
    font-size: 3.5rem;
    text-shadow: -3px 2px #222;
    max-width: 22rem;
    text-align: center;
    line-height: 1.2; }

.categoria-menu {
  position: absolute;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  padding: 12.5rem 2rem 0;
  width: 16rem;
  opacity: 1;
  -webkit-animation: nav-salida .8s .6s forwards;
          animation: nav-salida .8s .6s forwards; }
  .categoria-menu ul {
    font-family: "Shadows Into Light", cursive;
    margin: 3rem 0 0;
    text-align: center; }
  .categoria-menu li:not(:last-child) {
    margin-bottom: 1.5rem; }
  .categoria-menu a {
    font-size: 1.8rem;
    text-shadow: -3px 2px #222; }
    .categoria-menu a:hover {
      color: #00A9E4; }

@-webkit-keyframes lista-entrada {
  0% {
    right: -15rem; }
  100% {
    right: 0; } }

@keyframes lista-entrada {
  0% {
    right: -15rem; }
  100% {
    right: 0; } }

@-webkit-keyframes fondo-entrada {
  0% {
    margin-right: 0; }
  100% {
    margin-right: 15rem; } }

@keyframes fondo-entrada {
  0% {
    margin-right: 0; }
  100% {
    margin-right: 15rem; } }

@-webkit-keyframes titulo-entrada {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes titulo-entrada {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes nav-salida {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes nav-salida {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.recetas > .categoria-fondo {
  background-image: url("../img/fondos/recetas-small.jpg"); }

@media only screen and (min-width: 768px) {
  .categoria-fondo {
    -webkit-animation: fondo-entrada .8s forwards;
            animation: fondo-entrada .8s forwards;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }
    .categoria-fondo.in {
      -webkit-transition: all 1.5s ease-in-out;
      -o-transition: all 1.5s ease-in-out;
      transition: all 1.5s ease-in-out;
      margin-right: 15rem; }
    .categoria-fondo h1 {
      font-size: 5.5rem; }
  .recetas > .categoria-fondo {
    background-image: url("../img/fondos/f-recetas.jpg"); } }

.producto-fondo {
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100vh; }

.producto-conte {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .producto-conte > div {
    margin-top: 6.5rem;
    width: 100vw;
    height: -webkit-calc(100vh - 6.5rem);
    height: calc(100vh - 6.5rem);
    overflow-y: scroll; }

.producto section {
  width: 100%; }

.producto-titulo {
  background: white;
  text-align: center;
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .producto-titulo div {
    height: 150px;
    width: 200px;
    background-position: center;
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat; }
  .producto-titulo h1 {
    font-family: "Fjalla One", sans-serif;
    font-size: 1.8rem;
    color: #666;
    margin: 1rem 0 0; }
  .producto-titulo p {
    color: #00A9E4;
    font-size: 1.2rem;
    margin: 0; }
  .producto-titulo > a {
    z-index: 0; }

.producto-info {
  padding: 1rem 0;
  background: #00A9E4;
  text-align: center; }
  .producto-info span {
    font-size: 1.2rem;
    font-weight: bold; }
  .producto-info p {
    font-size: .9rem;
    margin-bottom: 0; }
  .producto-info table {
    border-spacing: 0;
    display: inline-block;
    margin-top: 1rem;
    text-align: left; }
  .producto-info tr:not(:last-child) td {
    border-bottom: solid 1px white; }
  .producto-info td {
    font-size: .9rem;
    padding: 0 2rem; }

.producto .separacion {
  background: white;
  margin-bottom: -.39rem; }

.receta .producto-titulo {
  padding: 0;
  padding-bottom: 1.5rem; }
  .receta .producto-titulo div {
    width: 100%;
    padding: 0 3rem; }
  .receta .producto-titulo div.receta-descripcion {
    height: 100%; }
  .receta .producto-titulo h1 {
    margin-bottom: 2rem; }
  .receta .producto-titulo span {
    color: #00A9E4;
    font-weight: bold;
    font-size: 1rem; }
  .receta .producto-titulo p {
    color: #666;
    font-size: .9rem;
    margin: 1rem 0 0 0; }

.receta .producto-titulo-fondo {
  width: 100%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 10rem; }

.receta .producto-info {
  padding: 1rem 3rem;
  text-align: left; }
  .receta .producto-info p {
    margin-top: 1rem;
    font-size: .9rem; }

.receta .producto-fondo {
  background-image: url("../img/fondos/f-recetas.jpg"); }

.lista-producto-responsive {
  display: none !important; }

@media only screen and (min-width: 768px) {
  .producto-fondo {
    margin-right: 15rem; }
  .producto-conte {
    margin-right: 15rem;
    padding-right: 15rem;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .producto-conte > div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: stretch;
      -webkit-justify-content: stretch;
          -ms-flex-pack: stretch;
              justify-content: stretch;
      margin-top: 0;
      width: -webkit-calc(100% - 16rem);
      width: calc(100% - 16rem);
      height: 100vh; }
  .producto section {
    height: 100%; }
  .producto-titulo div {
    height: 250px;
    width: 300px; }
  .producto-volver {
    display: none; }
  .receta .producto-titulo {
    min-height: 400px; }
  .receta .producto-titulo-fondo {
    height: 20rem; }
  .lista-producto-responsive {
    display: inline !important; } }

.empresa section {
  padding: 0 3rem 2rem;
  padding: 0 1rem 2rem; }

.empresa header {
  background-image: url("../img/nuestra-empresa.jpg");
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 16rem; }

.manipulacion section {
  padding: 2rem 1rem; }

.manipulacion p {
  font-size: .8rem; }

.manipulacion ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-top: 2rem;
  width: 100%;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.manipulacion li {
  text-align: center;
  margin: 1rem; }
  .manipulacion li p {
    max-width: 9rem; }

.manipulacion img {
  width: 5rem;
  margin-bottom: 1rem; }

@media only screen and (min-width: 520px) {
  .manipulacion li p {
    max-width: 13rem; } }

@media only screen and (min-width: 768px) {
  .manipulacion section {
    padding: 2rem 3rem; }
  .manipulacion ul {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
  .manipulacion li {
    margin: 0; }
    .manipulacion li:not(:last-child) {
      margin-right: 1rem; }
    .manipulacion li p {
      max-width: 9rem; }
  .manipulacion img {
    width: 8rem;
    margin-bottom: 1.5rem; } }

.contacto main {
  padding: 2rem 3rem; }

.contacto header {
  text-align: center; }
  .contacto header p {
    font-family: "Fjalla One", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0; }
  .contacto header span {
    font-size: .9rem; }

.contacto section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem; }

.contacto p {
  font-size: .9rem;
  margin-bottom: .5rem; }

.contacto aside {
  text-align: center; }
  .contacto aside span {
    color: #00A9E4;
    display: block;
    font-family: "Fjalla One", sans-serif;
    font-size: 1.1rem;
    font-weight: bold; }

.contacto-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.5rem;
  max-width: 800px;
  position: relative;
  width: 100%; }
  .contacto-form input,
  .contacto-form textarea {
    border: solid 1px #999;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    font-size: .8rem;
    margin-bottom: .5rem;
    padding: .3em .5em; }
  .contacto-form textarea {
    min-height: 5rem;
    max-height: 10rem;
    resize: vertical;
    overflow: auto; }
  .contacto-form button {
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: #00A9E4;
    color: white;
    font-size: .8rem;
    padding: .5rem; }
  .contacto-form span {
    margin-top: 1rem;
    text-align: center; }
  .contacto-form .icon-check {
    background: green;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    color: white;
    height: 2rem;
    margin-left: .5rem;
    width: 2rem; }

@media only screen and (min-width: 768px) {
  .contacto section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 3rem; }
  .contacto p {
    margin-bottom: 1rem; }
  .contacto-form {
    margin: 0 0 0 5rem;
    width: 20rem; } }
