@charset "UTF-8";
/* ·SETTINGS
  ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Breakpoint - Grill
 *  2. Directorios
 *  3. Layout
 *  4. Fonts
 *  5. Tamaños
 *  6. Colors
 *  7. Typografy
 *  8. Nav
 *  9. Forms
 *  10. Botons
 *  11. Video
 *  12. Table
 *  13. Cards
 *  14. Modal
 *  15. Tabs
 *  16. Sliders
 */
/* 1. Breakpoint - Grill
   ========================================================================== */
/* 2. Directorios
   ========================================================================== */
/* 3. Layout
   ========================================================================== */
/* 4. Fonts
   ========================================================================== */
/* 5. Tamaños
   ========================================================================== */
/* 6. Colors
   ========================================================================== */
/* 7. Typografy
   ========================================================================== */
/* 8. Nav
   ========================================================================== */
/* 9. Forms
   ========================================================================== */
/* 10. Botons
   ========================================================================== */
/* 11. Video
   ========================================================================== */
/* 12. Table
   ========================================================================== */
/* 13. Cards
   ========================================================================== */
/* 14. Modal
   ========================================================================== */
/* 15. Tabs
   ========================================================================== */
/* 16. Sliders
   ========================================================================== */
/* ------------------------------------ normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*:focus {
  outline: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

a {
  cursor: pointer; }

img {
  max-width: 100%;
  width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

textarea {
  overflow-x: hidden; }

pre, code {
  font-family: "Inconsolata", Monaco, Consolas, "Andale Mono", monospace; }

/* ------------------------------------
      ·HELPERS
  -------------------------------------*/
.wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.full {
  height: 100vh;
  width: 100vw; }

.contenedor {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1rem;
  width: 100%;
  position: relative; }

.contenedor-full {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding: 0 1rem;
  width: 100%;
  position: relative; }

.overflow {
  overflow: hidden; }

.center-txt {
  text-align: center; }

.left-txt {
  text-align: left; }

.right-txt {
  text-align: right; }

.destacado {
  color: #00A9E4; }

.code {
  padding: 1rem;
  border-left: 2px solid #00A9E4; }

.s {
  width: 2rem; }

button.clipboard {
  font-size: .8rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0; }

/* ------------------------------------
      ·TYPOGRAPHY
  -------------------------------------*/
html,
body {
  background-color: black;
  color: white;
  font-family: "Quicksand", sans-serif;
  line-height: 1.4;
  font-size: 16px;
  font-weight: normal;
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: "Shadows Into Light", cursive;
  font-weight: normal;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 0.5rem;
  text-rendering: optimizelegibility; }

h1, .h1 {
  font-size: 1.5rem; }

h2, .h2 {
  font-size: 1.25rem; }

h3, .h3 {
  font-size: 1.1875rem; }

h4, .h4 {
  font-size: 1.125rem; }

h5, .h5 {
  font-size: 1.0625rem; }

h6, .h6 {
  font-size: 1rem; }

@media only screen and (min-width: 520px) {
  h1, .h1 {
    font-size: 3rem; }
  h2, .h2 {
    font-size: 2.5rem; }
  h3, .h3 {
    font-size: 1.9375rem; }
  h4, .h4 {
    font-size: 1.5625rem; }
  h5, .h5 {
    font-size: 1.25rem; }
  h6, .h6 {
    font-size: 1rem; } }

p,
ul {
  line-height: 1.4;
  padding: 0;
  margin-bottom: 0.5rem; }

li {
  list-style: none; }

.lista li {
  margin-left: 1rem;
  list-style: disc; }

hr {
  border: 0;
  border-top: 1px solid #494949;
  clear: both;
  display: block;
  height: 1px;
  margin: 1.4 0;
  padding: 0; }

b, strong {
  font-weight: bold; }

a {
  color: white;
  text-decoration: none; }

/* ------------------------------------
        ·ICONS
    -------------------------------------*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?mhj81j");
  src: url("../fonts/icomoon.eot?mhj81j#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?mhj81j") format("truetype"), url("../fonts/icomoon.woff?mhj81j") format("woff"), url("../fonts/icomoon.svg?mhj81j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:after, [class^="icon-"]:before, [class*=" icon-"]:after, [class*=" icon-"]:before {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: ""; }

.icon-check:before {
  content: ""; }

.icon-close:before {
  content: ""; }

.icon-pencil:before {
  content: ""; }

.icon-plus:before {
  content: ""; }

.icon-minus:before {
  content: ""; }

.icon-phone:before {
  content: ""; }

.icon-link:before {
  content: ""; }

.icon-navicon:before {
  content: ""; }

.icon-mail:before {
  content: ""; }

.icon-download:before {
  content: ""; }

.icon-angle-left:before {
  content: ""; }

.icon-angle-right:before {
  content: ""; }

.icon-angle-up:before {
  content: ""; }

.icon-angle-down:before {
  content: ""; }

.icon-ellipsis:before {
  content: ""; }

.icon-send:before {
  content: ""; }

.icon-whatsapp:before {
  content: ""; }

.icon-snapchat:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }

.icon-spotify:before {
  content: ""; }

.icon-skype:before {
  content: ""; }

.icon-instagram:before {
  content: ""; }

.icon-dropbox:before {
  content: ""; }

.icon-youtube:before {
  content: ""; }

.icon-linkedin:before {
  content: ""; }

.icon-google-plus:before {
  content: ""; }

.icon-pinterest:before {
  content: ""; }

.icon-github:before {
  content: ""; }

.icon-twitter:before {
  content: ""; }
