<main class="lista" ng-class="{'in' : $ctrl.openList}">
  <a ng-click="$ctrl.back()"></a>
  <div>
    <span>{{$ctrl.newTipo}}</span>
  </div>
  <ul ng-class="{'lista-recetas' : $ctrl.tipoClass}">
    <li ng-repeat="item in $ctrl.items">
      <a ng-href="#/productos/{{item.categoria}}/{{item.id}}" ng-if="$ctrl.newTipo == 'productos'">
        <img ng-src="./img/productos/{{item.categoria}}/{{item.imagen}}.jpg" alt="producto">
        <h2>{{item.titulo}}</h2> 
      </a>

      <a ng-href="#/recetas/{{item.id}}" ng-if="$ctrl.newTipo != 'productos'">
        <img ng-src="./img/imagenes-recetas/{{item.imagen}}.jpg" alt="receta">
        <h2>{{item.titulo}}</h2> 
      </a>
    </li>   
  </ul>
</main>