<main class="home">

  <div class="sociales">
    <a target="_blank" href="http://fb.com" class="icon-facebook"></a>
    <a target="_blank" href="http://instagram.com" class="icon-instagram"></a>
  </div>
  
  <section class="home-nav">
    <a ng-href="#/productos">Productos</a>
    <a ng-href="#/recetas">Recetas</a>
    <a ng-href="#/contacto">Contacto</a>
  </section>

  <section class="home-nav-secondary" ng-class="{'active': $ctrl.active}">
    <p ng-click="$ctrl.collapse()">Más información</p>
    <ul>
      <li><a ng-href="#/">Empresa</a></li>
      <li><a ng-href="#/">Uso y manipulación segura</a></li>
      <li><a ng-href="#/">Registro y Calificación</a></li>
      <li><a ng-href="#/">Denuncias Anónimas</a></li>
    </ul>
    <footer>@ Copyright Sopraval 2018</footer>
  </section>
</main>