<main class="productos view-height" ng-class="{
  'background-jamones-pechugas': $ctrl.background.jamonesPechugas,
  'background-tradicional': $ctrl.background.tradicional,
  'background-parrilleros': $ctrl.background.parrilleros,
  'background-practicos': $ctrl.background.practicos,
}">
  <nav ng-mouseleave="$ctrl.backgroundOver()">
    <ul>
      <li ng-repeat="categoria in $ctrl.categorias">
        <a 
          ng-mouseover="$ctrl.backgroundOver(categoria.tipo)" 
          ng-href="#/productos/{{categoria.tipo}}"
          >{{categoria.nombre}}</a></li>
    </ul>
  </nav>
</main>